# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
# optionally ignore all notebooks outputs
# (we'll strip outputs automatically, so it's safe to version notebooks)
# data
# Commenting out the following line so Data/ folder is tracked
# data/
# Data/
raw_data/
*.csv
*.zip
*.tar.gz
*.h5
*.sqlite

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
*.key
